rules:
  indent:
    - 2
    - 4
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 0  # Temp
    - always
  indent: 0  # Temp
  strict: 0
  dot-notation: 0
  no-underscore-dangle: 0
  no-use-before-define: 0
  eol-last: 0
  curly: 0
  quotes: 0
  camelcase: 0
env:
  browser: true
globals:
  ko: true
  koExports: true
  jQueryInstance: true
  DEBUG: true

  # Jasmine global variables
  afterEach: true
  beforeEach: true
  ddescribe: true
  describe: true
  expect: true
  iit: true
  it: true
  jasmine: true
  testNode: true
