*.suo
*.swp
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
perf/*
*.orig
*.bak
.DS_Store
npm-debug.log
node_modules
.rpt2_cache

# Knockout built files
_repo
coverage/
**/dist/*
!packages/tko/dist/*

*-debug.log
*-error.log

# Rollup Visualizer
visual.html
packages/*/visual.html
/package-lock.json
/packages/tko/dist/tko.js
/packages/tko/dist/tko.js.map
/packages/tko/dist/tko.min.js
/packages/tko/dist/tko.min.js.map
/packages/tko/dist/tko.es6.js
/packages/tko/dist/tko.es6.js.map
/packages/tko/dist/tko.es6.min.js
/packages/tko/dist/tko.es6.min.js.map
/.vscode
