*.suo
*.swp
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
perf/*
*.orig
*.bak
.DS_Store
npm-debug.log
node_modules
.rpt2_cache

# Knockout built files
_repo
coverage/
**/dist/*
!packages/tko/dist/*

*-debug.log
*-error.log

package-lock.json
.vscode
