*.suo
*.swp
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
perf/*
*.orig
*.bak
.DS_Store
npm-debug.log
node_modules

# Knockout built files
_repo
coverage/
**/dist/*
!packages/tko/dist/*

*-debug.log
*-error.log

# Rollup Visualizer
visual.html
packages/*/visual.html
/package-lock.json
