header: |
  /*!
    Knockout Fast Foreach v<%=pkg.version%> (<%=now.toISOString()%>)
    By: Brian M Hunt (C) 2015
    License: MIT

    Adds `fastForEach` to `ko.bindingHandlers`.
  */
  (function (root, factory) {
    if (typeof define === 'function' && define.amd) {
      define(['knockout'], factory);
    } else if (typeof exports === 'object') {
      module.exports = factory(require('knockout'));
    } else {
      root.KnockoutElse = factory(root.ko);
    }
  }(this, function (ko) {

footer: |
  }));

webserver:
  port: 4054
  directoryListing: true
  open: spec/runner.html
  livereload:
    enable: true
    port: 4055

watch:
  index.js
  spec/*
  config.yaml
