:root {
    --fg-color: #333;
    --link-color: #039;
    --nav-bg: #c9d7d7;
    --main-bg: #eee;
    --html-foot-bg: clear;
    --html-bg: #a8c1c1;
    --border-color: rgba(0, 0, 0, 0.25);

    --code-bg: #333;
    --code-fg: #bcb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: #ddd;
        --link-color: #6cf;
        --nav-bg: #4e6262;
        --main-bg: #444;
        --html-bg: #577373;
        --border-color: rgba(255, 255, 255, 0.25);
    }
}

* {
    box-sizing: border-box;
}

html {
    font-family: ui-sans-serif, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--fg-color);
    fill: var(--fg-color);
    background: var(--html-bg);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a:link, a:visited {
    color: var(--link-color);
}
li a:link {
    text-decoration: none;
}
li a:link:hover {
    text-decoration: underline;
}

code {
    font-family: ui-monospace, monospace;
}

pre {
    background: var(--code-bg);
    color: var(--code-fg);
    padding: 0 1rem;
    overflow: scroll;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "hd   hd   hd   hd  "
        "l    nav  main r   "
        "ft   ft   ft   ft  ";
    grid-template-columns: 1fr [left] 13rem [main] minmax(15rem, 40rem) [right] 1fr;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
}

nav {
    grid-area: nav;
    background: var(--nav-bg);
    padding: 1rem;
}

#toc {
    position: sticky;
    top: 1rem;
    margin: 0;
}
#toc > ol {
    padding: 0;
    list-style-position: inside;
}
#toc > ol a.active {
    font-weight: bold;
}

main {
    grid-area: main;
    padding: 1rem;
    background: var(--main-bg);
}
main h2 {
    border-bottom: solid 1px var(--border-color);
}
main > section {
    margin-bottom: 2rem;

    /* inflate box size above so scrolling to #id leaves some space at th tope */
    margin-top: -7rem;
    padding-top: 7rem;
}

header {
    grid-area: hd;
}
footer {
    grid-area: ft;
}
header, footer {
    background: var(--head-foot-bg);
    display: grid;
    grid-template-columns: subgrid;
}
header > .content,
footer > .content {
    grid-column: main / right;
    padding: 1rem;
}
header > .content {
    display: grid;
    grid-template-columns: [l] 1fr [m] max-content [r];
    align-items: center;
}
header .github-link {
    width: 30px;
    height: 30px;
}

/* Mobile */
@media (max-width: 600px) {
    body {
        grid-template-areas:
            "hd   hd   hd  "
            "nav  nav  nav "
            "l    main  r  "
            "ft   ft   ft  ";
        grid-template-columns: 1fr minmax(auto, 30rem) 1fr;
        grid-template-rows: max-content max-content 1fr max-content;
    }

    nav {
        position: sticky;
        top: 0;
    }

    #toc > h3 {
        display: none;
    }

    #toc > ol {
        display: flex;
        flex-flow: row wrap;
        column-gap: 1rem;
        margin: 0;
    }
}
