doctype html
html(lang="en")
  head
    title= TKO
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.min.css" integrity="sha256-ZeIRHNBrNlXFlcfvaKsx9S1BOwWJ42hBund78iurMLw=" crossorigin="anonymous")
    link(rel="stylesheet" href='tko.css')
  body
    h1 TKO

    .toc TOC
    .body !{body}