
body {
	display: grid;
    grid-template-columns: 200px 1fr;
	grid-template-areas:
		"head head"
		"toc body";
	padding: 20px;
}

.head {
	grid-area: head;
}

.toc {
	grid-area: toc;
}

.body {
	grid-area: body;
}