# Workflow for checking tests
name: Check Tests

on:
  # Runs for every pull-requests created
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  testheadless:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        jquery: ['off','on']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run Build
        run: make

      - name: Run Test-Headless (without JQuery)
        if: "contains(${{ matrix.jquery }}, 'off')"
        run: make test-headless

      - name: Run Test-Headless (with JQuery)
        if: "contains(${{matrix.jquery }}, 'on')"
        run: make test-headless-jquery
